<h1>Orders</h1>

<%= link_to 'New Order', new_order_path %>

<table>
  <tr>
    <th>ID</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>

  <% @orders.each do |order| %>
    <tr>
      <td><%= link_to order.id, order_path(order) %></td>
      <td><%= order.status %></td>
      <td>
        <%= button_to 'Process', process_order_order_path(order), method: :patch %>
        <%= button_to 'Complete', complete_order_order_path(order), method: :patch %>
        <%= button_to 'Fail', fail_order_order_path(order), method: :patch %>
        <%= button_to 'Cancel', cancel_order_order_path(order), method: :patch %>
      </td>
    </tr>
  <% end %>
</table>
